* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color:whitesmoke;
  font-family: 'Roboto Slab', 'Megrim';
  
 
 
}
.container{
  min-height:100%;
  background: url('coverr-sunrise-1563948708950.jpg');
  background-size: stretch;
  background-repeat: repeat;
  justify-content: center;
}
a{
  list-style: none;
  text-decoration: none;
  color:whitesmoke;
}



div.sticky {
  display: flex;
  position: sticky;
  justify-content: flex-end;
  top: 0;
  background-color: rgba(63, 47, 33, 1);
  padding: 5px;
  font-size: 16px;
  z-index: 11;
  width:200px;
  justify-content: center;
  border-radius: 3px;
}
div.sticky:hover{
  background-color:rgba(216, 198, 175, 1);
  border:0;
  color: #402F21;
}
a:hover{
  list-style: none;
  text-decoration: none;
  color:#BF372A;
}

div.gm-style-iw.gm-style-iw-c{
  background-color:  rgba(63, 47, 33, 0.80);
  padding: 10px;
}

div.gm-style-iw-d{
  
  width:100px;
  height:50px;
  font-family: 'Roboto Slab';
}

.hidden{
  display:none;

}

#result{
  display:flex;
  flex-direction: column;
  background-color:  rgba(63, 47, 33, 0.80);
  width:100%; 
}


.tooltip{
  height:100px;
  
}

h1, h2, h3 {
  font-family: 'Megrim';

}
h1, p, #result{
  z-index: 10;
  
}
fieldset{
  z-index: 10;
  border:  0px;
  padding:0px;
  

}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  z-index: 10;
  width: 100%;
   
}
.intro{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding:20px;
  width:100%;


}
input{
  height:30.8px;
  
}
h1{
  background-color:rgba(216, 198, 175, 1);
  color: #402F21;
  padding:5px;
}

input.location-name{
  width: 220px;
  border:0px;
border-radius: 3px;
  padding:2px;
  margin:10px;
  justify-content: center;
}
input.location-name:hover{
  border:#BF372A 1px solid;
  border-radius: 3px;
}
input.button{
  background-color:rgba(216, 198, 175, 1);
  border:0;
  color: #402F21;
  font-family: 'Roboto Slab';
  border-radius: 3px;
  width: 200px;
  font-size: 16px;

}
input.button:hover{
  color:whitesmoke;
  background-color: #BF372A;
  border:#D9C6B0 1px solid;
  animation-duration: 1.5s;
  animation-delay:0s;
 animation-iteration-count: infinite;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;

  
}

ul.places-result{
  display:flex;
  flex-direction: column;
  padding: 0;
}

ul#result-weather{
  display:flex;
  flex-direction: column;
  padding: 0;

}

ul>li{
  padding: 10px;
  text-align: center;
  margin-bottom: 5px;
  
}


footer{
  position:sticky;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
   bottom: 0;
  background-color: #402F21;
  height:30px;
  width:100%;
  z-index:12;
  }
  
  
  footer>ul{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:0;
  justify-content: space-evenly;
  }
  
  footer>ul>li{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  
  }
  footer>p{
    font-size: 8px;
    margin: 0px;
  }
  footer>ul>li:hover{
     color:#BF372A;
  
    }
  .social{
    padding:0;
  }

  video{
    display:none;
  }

@media (min-width: 520px){
 
  body{
    
    height: 100%;

  }
 
 form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-color:  rgba(63, 47, 33, 0.80);
   padding:50px;
   margin:25px;
   border-radius: 3px;

 }
 

 .intro>h1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding:20px;
  font-size: 56px;
  border-radius: 3px;
  

 }
 .tooltip{
  height:250px;
  width:auto;
  
  
}

 

 

  
#weather{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;


}
  
  video{
    display:flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: inherit 2;

  
}
 


}

  
  
  
  
  /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map-area {
        
        height:400px;
        width: 100%;
        
      }
/* Color Theme Swatches in Hex */
.Father-teaching-his-son-cycling-at-park-1-hex { color: #BFB85A; }
.Father-teaching-his-son-cycling-at-park-2-hex { color: #D9CA82; }
.Father-teaching-his-son-cycling-at-park-3-hex { color: #D9C6B0; }
.Father-teaching-his-son-cycling-at-park-4-hex { color: #402F21; }
.Father-teaching-his-son-cycling-at-park-5-hex { color: #BF372A; }

/* Color Theme Swatches in RGBA */
.Father-teaching-his-son-cycling-at-park-1-rgba { color: rgba(191, 184, 89, 1); }
.Father-teaching-his-son-cycling-at-park-2-rgba { color: rgba(216, 202, 130, 1); }
.Father-teaching-his-son-cycling-at-park-3-rgba { color: rgba(216, 198, 175, 1); }
.Father-teaching-his-son-cycling-at-park-4-rgba { color: rgba(63, 47, 33, 1); }
.Father-teaching-his-son-cycling-at-park-5-rgba { color: rgba(191, 54, 42, 1); }

/* Color Theme Swatches in HSLA */
.Father-teaching-his-son-cycling-at-park-1-hsla { color: hsla(56, 44, 55, 1); }
.Father-teaching-his-son-cycling-at-park-2-hsla { color: hsla(50, 53, 68, 1); }
.Father-teaching-his-son-cycling-at-park-3-hsla { color: hsla(33, 34, 76, 1); }
.Father-teaching-his-son-cycling-at-park-4-hsla { color: hsla(28, 31, 19, 1); }
.Father-teaching-his-son-cycling-at-park-5-hsla { color: hsla(5, 63, 45, 1); }